* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  font-family: Iosevka, sans-serif;
  font-size: 16px;
  background-color: #45425a;
  color: #acc12f;
}

.button {
  cursor: pointer;
  -moz-user-select: none;
  user-select: none;
}


/* NOTIFICATIONS */
#notif-box {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: right;
  margin: 2px;
  width: 0;
}

.notification {
  margin: 2px;
  padding: .5em .5em .5em 1em;
  background-color: #acc12f;
  color: #45425a;
  text-align: right;
  opacity: .7;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  white-space: nowrap;
}

.notification p {
  max-width: calc(100vw - 75px);
  overflow-x: auto;
}

.notification:hover {
  opacity: 1;
}

.notification .cross {
  height: 1em;
  margin-left: .5em;
}

.notification .cross line {
  stroke-width: 5px;
  stroke-linecap: round;
  stroke: #45425a;
}


/* LOADER */
.loader {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loader-root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  height: 100%;
  font-size: 1.2em;
}

#loader-root .loader {
  background-color: #acc12f;
  padding: 15px;
}

#loader-root .loader .box {
  background-color: #45425a;
}

#loader-root p {
  margin-top: 6px;
}

@keyframes loading-box {
  60% { height: 50px; }
  90% { height: 10px; }
}

.loader .box {
  display: inline-block;
  clear: both;
  height: 10px;
  width: 10px;
  margin: 1px;
  animation: loading-box 1.5s infinite ease-in-out;
}

.loader .box:nth-child(2) { animation-delay: .1s; }
.loader .box:nth-child(3) { animation-delay: .2s; }
.loader .box:nth-child(4) { animation-delay: .3s; }
.loader .box:nth-child(5) { animation-delay: .4s; }
.loader .box:nth-child(6) { animation-delay: .5s; }



/* LOGIN MODAL */
#login-root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  height: 100%;
}

#login-root .text-box, #login-root .button {
  font-family: inherit;
  font-size: 1.3em;
  margin: .2em;
  text-align: center;
}

#login-root .text-box {
  background-color: #acc12f;
  color: #45425a;
  width: 300px;
  padding: .3em;
}

#login-root .button {
  background-color: inherit;
  color: inherit;
  padding: .2em .5em;
  display: inline-block;
  width: auto;
}

#login-root .button:hover {
  background-color: #575c55;
}



/* MAIN PART */
main {
  display: flex;
  align-items: stretch;
  height: 100vh;
}

section#list {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}

section#list>nav {
  width: 100%;
  background-color: #1e2019;
  display: flex;
  justify-content: space-between;
}

section#list>nav div {
  margin: .6em;
}

section#list article {
  overflow-y: auto;
  padding: 3px;
}

section#list #illust-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: auto;
}


section#detail {
  height: 100%;
  flex: 1.5;
  overflow-y: auto;
  background-color: #1e2019;
}

section#detail #images {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

section#detail #images>img {
  margin: auto;
  height: auto;
  max-width: 100%;
}


.thumbnail {
  position: relative;
  width: 180px;
  height: 180px;
  display: block;
  margin: 3px;
  overflow-y: hidden;
}

@media (max-width: 1430px) {
  .thumbnail {
    width: 150px;
    height: 150px;
  }
}

.thumbnail>img {
  max-width: 100%;
  height: auto;
}

.thumbnail .bookmark {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 8px;
  height: 1.5em;
  fill-opacity: .7;
  stroke-width: 4px;
}

.bookmark {
  stroke-linejoin: round;
}

.bookmark .heart:hover {
  fill: #acc12f;
}

.thumbnail .pages {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: .8;

  background-color: #acc12f;
  color: #45425a;
  margin: 8px;
  padding: .1em .2em;
}